$coordinates1 : (
(7.6333% 16.9667%,16.0333% 16.9667%,16.0333% 31.7667%)
    (7.6333% 16.9667%,7.6333% 37.35%,16.0333% 31.7667%)
    (7.6333% 37.35%,31.9% 37.35%,16.0333% 31.7667%)
    (31.9% 37.35%,31.9% 31.7667%,16.0333% 31.7667%)
);
$color1:(
(#E62312)
(#E60012)
(#E6ca12)
(#E60a52)
);

$coordinates2 : (
(24.6% 27.143%,32.8% 33.1%,25.8% 38.4%)
        (25.8% 38.286%,32.7% 33.286%,30.1% 39.429%)
        (29.9% 39.143%,32.6% 33%,33.45% 44.1%)
        (32.5% 33%,43.3% 30.857%,33.4% 44.15%)
);
$color2:(
(#f8f1e8)
         (#bcae92)
         (#0c0d08)
         (#191919)
);


body{
  margin:0;
}
/*.shard-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
}*/
.shard-wrap .shard {
  position: absolute;
  width: 100%;
  height: 100%;
  transition:all 1s;
}
@for $i from 1 through 4{
  .shard-wrap:nth-child(#{$i}) .shard{
    -webkit-clip-path: polygon(nth($coordinates1, $i));
    background-color: nth($color1, $i);
    transition-delay:0.2s * $i;
  }
  body:hover .shard-wrap:nth-child(#{$i}) .shard {
      -webkit-clip-path: polygon(nth($coordinates2, $i));
      background-color: nth($color2, $i);
  }

  .state-two.shard-wrap:nth-child(#{$i}) .shard {
      -webkit-clip-path: polygon(nth($coordinates1, $i));
      background-color: nth($color2, $i);
  }
}

